html{
  font-size: smaller;
}
body{
  overflow:auto;
}
a:link {
  color: rgba(255,255,255,0.8);
  background-color: rgba(0,0,0,0.8);
  padding:5px;
  border-radius:3px;
}
a:visited {
  color: rgba(255,255,0,0.8);
}
a:hover {
  color: black;
  background-color:grey;
}
a:active {
  color: blue;
}
.toolTipInfo{
  padding:3px;
}
.tabular{
}
.tabRow{
  /*display:flex;*/
/*  padding:5px;*/
display:flex;
padding:6px;
  border-style:solid;
  border-width:0.5px;
  border-radius:3px;
  margin:5px;
}
.tabBlock{
  diplay:block;
  margin-right:10px;
}
.tabBigHead{
  text-align:center;
  color:black;
  background-color:rgba(255,255,255,0.5);
  padding-top:3px;
  border-radius:0;
  margin-bottom:0;
  height:27px;
}
.tabMidHead{
  font-size: smaller;
  padding:5px;
  color:rgba(255,255,255,0.7);
}
.yearEndHead{
  margin:10px;
  font-size: larger;
}
.sHighlight{
  background-color:rgba(255,255,128,0.1);
}
#myChart{
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
}
body{
  font-family: Verdana, sans-serif;
  background-color: rgba(0,0,0,0.8);
  color:rgba(255,255,255,0.8);

}
.dcHead{
   padding:10px;
}
.chart-container{
  position:relative;
}
.popover {
  background-color: rgba(33,33,33,0.9);
  border-radius: 5px;
  border-style: solid;
  border-width: 0.5px;
  box-shadow: 5px 10px 0 0 hsla(0,0%,98%,0.3);
  display: none;
  font-size: smaller;
  font-weight: lighter;
  padding: 5px;
  position: absolute;
  width: 250px;
}
.popovercontent{

}
.headtext{
  padding:10px;
  font-size: smaller;
}
.pagetext{
  padding:3px;
}
